---
http_interactions:
- request:
    method: post
    uri: http://testnet.helloblock.io/transactions
    body:
      encoding: UTF-8
      string: '{"body":{"body":{"raxTxHash":""}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"fail","message":"No transaction hex given. Note: Hex must
        be in the body of the post request and not as a query string","details":[]}'
  recorded_at: Tue, 11 Mar 2014 08:40:09 GMT
recorded_with: VCR 2.8.0
