---
http_interactions:
- request:
    method: post
    uri: http://testnet.helloblock.io/withdrawal
    body:
      encoding: UTF-8
      string: '{"body":{"body":{"amount":100000,"toAddress":"1DQN9nopGvSCDnM3LH1w7j36FtnQDZKnej"}}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"fail","message":"The endpoint you are looking for does not
        exist!","details":[]}'
  recorded_at: Tue, 11 Mar 2014 08:40:11 GMT
recorded_with: VCR 2.8.0
